modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33295
externalPort = 5173

[[ports]]
localPort = 33347
externalPort = 4200

[[ports]]
localPort = 34779
externalPort = 3000

[[ports]]
localPort = 35155
externalPort = 3002

[[ports]]
localPort = 37037
externalPort = 3001

[[ports]]
localPort = 37431
externalPort = 6000

[[ports]]
localPort = 41221
externalPort = 3003

[[ports]]
localPort = 41843
externalPort = 8008

[[ports]]
localPort = 42913
externalPort = 8000

[[ports]]
localPort = 43257
externalPort = 5000

[[ports]]
localPort = 46049
externalPort = 6800

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0"]
